@import 'const.scss';

.Main {
  @media(max-width: $bootstrap-xs-width - 1) {
    padding: 20px;
  }
  padding: 10px 5px;
  
  height: 100vh;
  max-height: 50em;
  display: flex;
  flex-direction: column;
  
  .content {
    position: relative;
    flex: 1;
  }
}