$item-margin: 0.5em;
$underline-width: 0.3em;
$line-margin: -($item-margin + $underline-width) * 1.22;

$item-padding: 1em;

.MenuItem-base {
  display: inline-block;
  color: deepskyblue;
  font-size: 1.2em;
  padding: 0 $item-padding;
  
  &:hover {
    color: cornflowerblue;
    text-decoration: none;
    cursor: pointer;
  }
}

.MenuItem {
  @extend .MenuItem-base;
  margin: $item-margin;
  margin-bottom: $item-margin + $underline-width;
}

.MenuItem-active {
  @extend .MenuItem-base;
  margin: $item-margin;
  margin-bottom: $item-margin - $underline-width;
  border-bottom: $underline-width solid cornflowerblue;
}

.line {
  border-bottom: 0.1em solid deepskyblue;
  margin-top: $line-margin;
}