@import components._
@import layouts._

@import entity.Link
@(day: String, routineId: Long)(exercises: Seq[Link])

@links = @{exercises.map{
  case Link(name, id) => (name, routes.WorkoutController.exercise(id).url)
}}

@layout(s"Exercises of ${day}") {
  @smallLayout {
    @header{
      @backLink("back", routes.RoutineController.days(routineId).url)("&#xf104;")
    } {
      @title(day)
    }

    <div class="list-group">
      <a href="@links.head._2"
        class="list-group-item list-group-item-action list-group-item-info text-center">
        <b>Start</b>
      </a>
      @listItems(links)
    </div>
  }
}