@import layouts._
@import components._
@import ua.barannik.generator.entity.{Exercise, ExerciseSet, Reps, WeightAndReps}

@import ua.barannik.generator.entity.{WarmUp, Work, End}
@(name: String, exercise: Exercise[ExerciseSet])(dayId: Long)

@viewSet(set: ExerciseSet) = {
  @set match {
    case Reps(reps) => {
      <th>@reps</th>
    }
    case WeightAndReps(weight, reps) => {
      <th>@weight</th>
      <th>@reps</th>
    }
  }
}

@coloredSets = @{
  for(section <- exercise;
      color = section match {
        case WarmUp(_) => "warning"
        case Work(_) => "danger"
        case End(_) => "success"
        case _ => ""
      };
      set <- section)
    yield (set, color)
}

@layout(name) {
  @smallLayout {
    @header{

    }{
      @title(name)
    }
    <table class="table">
      @for(i <- 1 to coloredSets.length;
        colored = coloredSets(i - 1);
        set = colored._1;
        color = colored._2) {
        <tr class="table-@color">
          <th>@i</th>
          @viewSet(set)
        </tr>
      }
    </table>
  }
}