@import 'const.scss';

@mixin separator($color, $disable-top-bottom: true) {
  border-bottom: 1px solid $color !important;
  
  @if ($disable-top-bottom == true) {
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      border-top: none;
    }
  }
}

.Item {
  height: 3.1em;
 // @include separator($separator-color, false);
  border-right: none;
  border-left: none;
  
  &:first-child,
  &:last-child {
    border-radius: 0;
  }
}