@import 'const.scss';

.AddButton {
 // height: 3em;
  margin: 0;
  border-radius: 0;
}

.ManagerList {
  .Content {
    background: $list-bg;
  }
  
  @media (min-width: $bootstrap-xs-width) {
    height: inherit;
    display: flex;
    flex-direction: column;

    .Content {
      flex: 1;
    }
  }
}