body {
    background: #eee;
    padding: 1em;
}

@font-face {
    font-family: 'fontello';
    src: url('lib/fontello.ttf');
}

.icon {
    font-family: 'fontello';
}

.back-link:hover {
    text-decoration: none;
}