@(content: Seq[(String, String)])

@content.map{
  case (text, null) => {
    <li class="list-group-item">@text</li>
  }
  case (text, link) => {
    <a href="@link" class="list-group-item list-group-item-action">@text</a>
  }
}