$bootstrap-xs-width: 768px;

$props-bg: #f5f5f5;

$list-bg: #f5f5f5;
$list-bg-disabled: #777;
$list-item-bg-disabled: #ccc;
$separator-color: #ddd;

$radius: 0.5em;

$border: 1px solid $separator-color;

$height: 3em;
$space: 1.5em;