body {
  margin: 0;
  font-family: sans-serif; }

.btn {
  height: 3em;
  margin: 1.5em 0; }

.form-control {
  margin-top: 0.18em;
  height: 3.15em; }

.control-label {
  font-size: 1em;
  margin: 0.825em 0 0.45em; }

.form-group {
  margin: 0; }
