@import 'const.scss';

body {
  margin: 0;
  font-family: sans-serif;
}

.btn {
  height: $height;
  margin: $space 0;
}

.form-control {
  margin-top: $space * 0.12;
  height: $height + 0.15;
}

.control-label {
  font-size: 1em;
  margin: ($space * 0.55) 0 ($space * 0.3);
}

.form-group {
  margin: 0;
}