@import 'const.scss';

.columns-container {
  @media (min-width: $bootstrap-xs-width) {
    height: inherit;
  }
}

.manager-column {
  height: 100%;
  padding: 0;

  .ManagerList {
    .Content {
      border-right: $border;
    }
  }
  
  &:first-child {
    .ManagerList {
      .Content {
        border-left: $border;
        border-top-left-radius: $radius;
      }
      .AddButton {
        border-bottom-left-radius: $radius;
      }
    }
  }
  &:last-child {
    .PropertiesManager {
      .Content {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }
  }
  
  @media (max-width: $bootstrap-xs-width - 1) {
    .ManagerList {
      .Content {
        border-top-right-radius: $radius;
        border-top-left-radius: $radius;
        border-left: $border;
      }
      .AddButton {
        border-bottom-right-radius: $radius;
        border-bottom-left-radius: $radius;
      }
    }
  }
}