@import 'const.scss';

.PropertiesManager {
  height: 100%;
  
  @media (min-width: $bootstrap-xs-width) {
    padding-top: 4em;
  }
  
  .Content {
    padding: 0 $space $space;
    background: $props-bg;
    border: $border;
    border-left: none;
  }
  
  hr {
    margin: $space;
    border-color: #ddd;
  }
}